@page "/"

@code {
    public DateTime? Date1 { get; set; } = DateTime.Now;
    public DateTime? Date2 { get; set; } = DateTime.Now;
}


<h3>Description</h3>

<blockquote>
    I have a problem with a Razor component resetting values when the component is wrapped in another component.
    The component works fine when used stand-alone.<br />
    
    <br />
    The component is a date input control. <br />
    <br />
    To simulate the problem:<br />

    <ol>
        <li>Enter a invalid date value into input #1. Eg. the value 'a'</li>
        <li>You will see the border turn red and the title-attribute will show the parse error</li>
        <li>Enter the same value into input #2</li>
        <li>You will see the value will reset to the original value, due to a redraw of the parent component</li>
    </ol>



</blockquote>

<hr />

<h3>#1. Input</h3>
<div class="sample">
    <Blazor.InputControlDate @bind-Value="Date1"></Blazor.InputControlDate>
</div>


<h3>#2. Input with parent</h3>
<div class="sample">
    <Blazor.InputControlLabel Label="LabelValue">
        <Blazor.InputControlDate @bind-Value="Date2"></Blazor.InputControlDate>
    </Blazor.InputControlLabel>
</div>
